<div>
    <div class="form-group">
        <div class="col-md-12">
            <label>Start Writing your Blog here.............</label>
        </div>
        <div class="col-md-12">
            <textarea class="form-control form-control-sm" [(ngModel)] = blogText rows="3"></textarea>     
        </div>       
      </div>
    <!-- <textarea class="desc_box" >
    </textarea> -->
    <div class="col-md-12" style="margin-top: 10px;">
        <button class="btn btn-lg btn-primary btn-block" (click)="add()">
            Add new  Blog
          </button>
    </div>
  </div>