.btn-lg, .btn-group-lg>.btn {
  padding: 0px 0px !important;
  font-size: 18px !important;
  line-height: 2.33 !important;
  border-radius: 12px !important;
  width: 100%;
  text-align: center;
  background-color: darkturquoise;
}
