<div class="col-md-12">
  <p class="h1 text-primary">My Bloggs</p>
</div>
<div style="float: right;">
  <button type="button" class="btn btn-danger" (click)="logout()">Logout</button>
</div>
<div style="float:right;margin-bottom: 10px;margin-right: 10px;">
  <!-- <button type="btn btn-primary" class="add-button" >
   
  </button> -->
  <button type="button" class="btn btn-primary" (click)="add()"> Add new  Blog</button>
</div>

<table class="table">
  <thead>
    <tr style="background-color:lightcyan;text-align: center">
      <th style="text-align: center">S.No</th>
      <th style="text-align: center" (click)="sortingSOW()">Created Date</th>
      <th style="text-align: center">Blog</th>
      <th style="text-align: center">Action</th>
    </tr>
  </thead>
  <tr style="text-align:center" *ngFor="let blog of blogs;let i = index">
   <td>{{blog.id}}</td>
   <td>{{blog.date  | date: 'dd/MM/yyyy'}}</td>
   <td>{{blog.blogtext}}</td>
   <td><i class="fa fa-edit" style="font-size:20px;vertical-align:middle;color:#337ab7" (click)="edit(blog.id)"></i> 
    <i class="fa fa-trash" style="display: inline-block;padding-left: 7px;cursor: pointer;color:#337ab7" (click)="delete(i)"></i>
  </td>
  </tr>
</table>
<div style="text-align: center;font-size: larger;font-weight: 800;padding-top:80px;"
    *ngIf='blogs?.length===0'>No Blogs, Please add your Blog first.</div>


